[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
redis = "*"
numpy = "*"
flake8 = "*"
pytest = "*"
opencv-python = "*"
scikit-image = "*"
scipy = "*"
imutils = "*"
jupyterlab = "*"
keras = "*"
tensorflow-gpu = "==1.12.0"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
